.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.controlPanel {
  float: left;
  padding-left: 20px;
}

.dotfield {
  padding: 20px;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  #dotfield { width: 100% }
}
